<table class="table table-sm" style="margin-top: 30px;">
    <thead>
        <th>Full Name</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>Location</th>
        <th>Action</th>
        
    </thead>
    <ng-container *ngFor="let customer of CustomerArray">
        <tr class="table-dark">
            <td>{{customer.fullName}}</td>
            <td>{{customer.email}}</td>
            <td>{{customer.mobile}}</td>
            <td>{{customer.location}}</td>
            <td>
                <button class="btn btn-outline-info" (click)="customerService.populateForm(customer)">Edit</button>
                <button class="btn btn-outline-danger" (click)="onDelete(customer.$key)">Delete</button>
            </td>
        </tr>
    </ng-container>
</table>
